#root {
  margin: 0 auto;

  /* text-align: center; */
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border-bottom: 2px dotted rgb(88, 96, 110); */
  justify-content: space-between;
  padding: 1rem 2rem;
}
.slogan {
  font-size: 1.2rem;
  color: #e6f8de;
}

/* Media Queries */
@media (max-width: 768px) {
  .slogan {
    font-size: 0.8rem; /* Slightly smaller font size for tablets */
  }
}

@media (max-width: 580px) {
  .slogan {
    display: none; /* Smaller font size for mobile phones */
  }
}

.logo {
  height: 5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 50%;
  vertical-align: middle;
}

.block {
  width: 80vw;
  min-width: 400px;
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 20px;
  padding: 20px;
  background: linear-gradient(135deg, #e0f7fa 0%, #80deea 100%);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1), 0 0 20px rgba(186, 228, 165, 0.5);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  word-wrap: break-word;
}

.block:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px rgb(5, 54, 4), 0 0 30px hsla(225, 85%, 57%, 0.757);
}

.block h3 {
  font-size: 1.5em;
  color: #00796b;
}

.block p {
  font-size: 1em;
  color: #004d40;
}

.transaction-list {
  list-style: none;
  padding: 0;
}

.transaction-list li {
  background: #ffffff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.transaction-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px;
}

.pending-transactions {
  list-style: none;
  padding: 0;
}

.pending-transactions li {
  background: #ffe0b2;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.pending-transactions li:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px #80ba63b3;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse-light {
  0%,
  100% {
    filter: drop-shadow(0 0 0.5em #646cffaa);
  }
  50% {
    filter: drop-shadow(0 0 1.5em #646cffaa);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear,
      pulse-light infinite 1.5s ease-in-out;
  }
}

.pending-transactions li {
  width: 80vw;
  min-width: 400px;
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 20px;
  padding: 20px;
  box-shadow: 0 0 20px rgb(186, 228, 165);
  border-radius: 10px;
}

.form-wrapper {
  width: 80vw;
  min-width: 400px;
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 20px;
  padding: 20px;
  box-shadow: 0 0 20px rgb(186, 228, 165);
  border-radius: 10px;
}

.tx-form {
  display: flex;
  flex-direction: column;
}

.tx-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.tx-form input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(241, 230, 230);
}

@media (max-width: 768px) {
  .form-wrapper {
    max-width: 95vw;
    min-width: 100px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown p {
  color: white;
  font-size: 0.9rem;
}
