#root {
  margin: 0 auto;
  /* text-align: center; */
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px dotted rgb(88, 96, 110);
  justify-content: space-between;
  padding: 1rem 2rem;
}
.slogan {
  font-size: 1.2rem;
}

.logo {
  height: 5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 50%;
  vertical-align: middle;
}

.block {
  border: 1px solid white;
  padding: 1rem;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse-light {
  0%,
  100% {
    filter: drop-shadow(0 0 0.5em #646cffaa);
  }
  50% {
    filter: drop-shadow(0 0 1.5em #646cffaa);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear,
      pulse-light infinite 1.5s ease-in-out;
  }
}

.pending-transactions li {
  border-bottom: 1px solid white;
  padding: 10px 0;
}

.form-wrapper {
  width: 80vw;
  min-width: 400px;
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 20px;
  padding: 20px;
  box-shadow: 0 0 20px rgb(186, 228, 165);
  border-radius: 10px;
}

.tx-form {
  display: flex;
  flex-direction: column;
}

.tx-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.tx-form input {
  width: 75%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(241, 230, 230);
}

@media (max-width: 768px) {
  .form-wrapper {
    max-width: 95vw;
    min-width: 100px;
  }
}
